/* .black{
    height: 600px;
    background-color: black;

} */
.card-img{
    opacity:1;
}
.white{
    
    background-color: white;
    color: black;
}
.img-responsive{
    /* opacity: 0.7; */
    border-radius: 100px;
}
body{
    color:white;
    background: white;

}
.cont2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.logo{
    display: block;
}

.about{
    background-image: url("https://images.pexels.com/photos/574069/pexels-photo-574069.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); /* The image used */
    background-color: #a73ffcbe; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    width: 100%;
    
}
.hero-image {
    background-image: url("https://images.pexels.com/photos/205316/pexels-photo-205316.png?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    opacity:1;
}

 /* .intro {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    padding: 40px 20px 30px 20px;
    background: #2098D1;
    color: white;
    text-align: center;
    height: 600px;
}  */

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    height: 700px;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
footer{
    height: 400px;
    overflow: hidden;
}
  
.content {
    box-sizing: border-box;
    width: 100%;
    margin-top: 4em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25em;
    padding-right: 1.25em;
    padding-bottom: 8em;
    max-width: 720px;} 
/* .container-fluid{
    height: 2000px;
} */
.carousel{
    height: 50%;
}
.text-intro{
    padding: 3%;
}
.contact{
    color: black;
    background-color: #cccccc;
}

@media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  @media (max-width: 1300px){
    .img-responsive{
        margin-top: 87px;
        height: 150px;
    } }
    @media (max-width: 1000px){
        .img-responsive{
            height: 100px;
            margin-top: 100px;
        
        } }         